/* fonts */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

}

body{
    font-family: "Noto Serif", serif;
}



@keyframes rotate {

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.badge{

    animation: rotate 2s ease-in infinite 
}